h1{
    text-align: center;
    color: aqua;
}
h2{
    text-align: center;
    color: aqua;
}
footer{
    text-align: center;
    color: darkmagenta;
}
p{
    text-align: center;
    color: #000;
}
ul{
    text-align: center;
}
body{
    background-color: seashell;
}